$zIndexFooter: 1;
$zIndexFooterBg: 2;
$zIndexFooterForm: 3;

$radiusBlockDesktop: 16px;
$radiusInputDesktop: 8px;
$radiusButtonDesktop: 8px;
$radiusBlockMobile: 12px;
$radiusInputMobile: 6px;
$radiusButtonMobile: 6px;